.nav-header {
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: .5rem 2rem;
  margin-top: .5rem;
  box-shadow: 0 2px 8px rgb( 0 0 0 /66%);

}

.nav-h1 {
  color: black;
  font-weight: bold;
}

.nav-button {
  background-color: goldenrod;
  border: 1px solid goldenrod;
  box-shadow: 0 2px 8px rgb(0 0 0 /46% ) ;
  border-radius: 30px;
  font-size: larger;
  padding: .75rem 1.5rem;
}

.nav-button:disabled {
  background-color: lightslategray;
  color: lightgray
}

.nav-ul {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  color: dodgerblue;
  padding: 0 1rem;
}

a {
  color: dodgerblue;
  text-decoration: none;
  font-size: larger;
}
